@model EntityLayer.Accounts.Accounts

@{ 
    ViewBag.Title = "Create Card";
}

    <div class="container-fluid">
        <form action="CreateCard" method="post">
            <fieldset>
                <legend>Data</legend>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label for="Client">Client</label>
                        <select id="Client" class="form-control" asp-for="ClientId">
                            <option value="-1">Choose</option>
                            @foreach (var item in ViewBag.Clients)
                            {
                                <option value="@item.PersonId">@item.Person.Name @item.Person.Surname</option>
                            }
                        </select>
                        <span asp-validation-for="ClientId" class="text-danger"></span>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="cardnumber">Card Number</label>
                        <input type="text" id="cardnumber" class="form-control" asp-for="CardNumber" required autofocus />
                        <span asp-validation-for="CardNumber"class="text-danger"></span>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="accountnumber">Account Number</label>
                        <input type="text" id="accountnumber" class="form-control" asp-for="AccountNumber" required autofocus />
                        <span asp-validation-for="AccountNumber"class="text-danger"></span>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control" asp-for="Password" required autofocus />
                        <span asp-validation-for="Password"class="text-danger"></span>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="balance">Balance</label>
                        <input type="text" id="balance" class="form-control" asp-for="Balance" required autofocus />
                        <span asp-validation-for="Balance"class="text-danger"></span>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="activ">Activ</label>
                        <select id="activ" class="form-control" asp-for="Activ">
                            <option value="-1">Choose</option>
                            <option value="@true">Yes</option>
                            <option value="@false">No</option>
                        </select>
                        <span asp-validation-for="Activ" class="text-danger"></span>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="type">Type</label>
                        <select id="type" class="form-control" name="type">
                            <option value="-1">Choose</option>
                            <option value="1">Checking Account</option>
                            <option value="2">Saving Account</option>
                        </select>
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary" style="width:100%">Create Account</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>