@model List<Clients>
@{
    ViewBag.Title = "List Client";
}

<div class="container">
    @if (Model.Any())
    {
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Clients
                </div>
                <div class="card-body" style="font-size:20px">
                    Count : @Model.Count
                </div>
                <div class="card-footer">
                    <a asp-action="InsertClient" asp-controller="Client" class="btn btn-primary">Insert Client</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Premium Clients
                </div>
                <div class="card-body" style="font-size:20px">
                    Count :  @ViewBag.IsPremiumCount
                </div>
                <div class="card-footer">
                    <a asp-action="InsertClient" asp-controller="Client" class="btn btn-primary">Insert Client</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Not Premium Clients
                </div>
                <div class="card-body" style="font-size:20px">
                    Count : @ViewBag.IsNotPremiumCount
                </div>
                <div class="card-footer">
                    <a asp-action="InsertClient" asp-controller="Client" class="btn btn-primary">Insert Client</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-center">Client List</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive text-nowrap">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Personal Number</th>
                                        <th>Name</th>
                                        <th>Surname</th>
                                        <th>Age</th>
                                        <th>Street Nr</th>
                                        <th>Street</th>
                                        <th>City</th>
                                        <th>Country</th>
                                        <th>Postal Code</th>
                                        <th>Email</th>
                                        <th>NrTel</th>
                                        <th>Is Premium</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Person.Id</td>
                                            <td>@item.Person.PersonalNumber</td>
                                            <td>@item.Person.Name</td>
                                            <td>@item.Person.Surname</td>
                                            <td>@item.Person.Age</td>
                                            <td>@item.Person.StreetNr</td>
                                            <td>@item.Person.Street</td>
                                            <td>@item.Person.City</td>
                                            <td>@item.Person.Country</td>
                                            <td>@item.Person.PostalCode</td>
                                            <td>@item.Person.Email</td>
                                            <td>@item.Person.NrTel</td>
                                            <td>@item.IsPremium</td>
                                            <td><a asp-action="UpdateClient" asp-controller="Client" asp-route-id="@item.Person.Id" class="btn btn-primary">Update</a></td>
                                            <td>
                                                <form asp-action="DeleteClient" asp-controller="Client" asp-route-id="@item.Person.Id" method="post">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>No Clients</h3>
            </div>
        </div>
    }
</div>
